

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Admin page / ylläpitäjä sivu</title>
		<style>
		.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		</style>
	    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
		<script  src="../static/kayttajanLisays.js"></script>
	</head>
	<body>
		<div class="login-form">
            
            <img class="mx-sm-3" src="http://portal.savonia.fi/img/amk/sisalto/_tutustu-savoniaan/viestintapalvelut/SAVONIA_logo_rgb.jpg"height="28" width="100">
			<h2>Lisää käyttäjä järjestelmään</h2>
			
			<form id="kayttajanLisaysFormi" action="lisaaKayttaja" method="POST" onSubmit="return false">
				<label>Nimi</label><input type="text" name="oikeaNimi" required>
				<label>Käyttäjä tunnus</label><input type="text" name="username" required>
				<label>Salasana</label><input type="password" name="password" required>
				<label>Opintolinja</label><select name="opintoLinjaVal" id="opintoLinjanValinta" required>
					
				</select><br><br>
				<label>Ylläpitäjä/opettaja?</label><input type="checkbox" name="kayttajaTyyppi" value="admin">
				<br><br><input type="submit" value="Lisää käyttäjä">
				<br><br><p>HUOM! Lisää käyttäjälle vähintää yksi kurssisuoritus, jotta käyttäjä pääsee käyttämään osaamismatriisia.</p>
				<a href="localhost:3002/admin">Palaa ylläpitäjä sivulle</a>
			</form>
		</div>
	</body>
</html>